[Unit]
Description=Telegram Forward Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/video_collector
ExecStart=%h/video_collector/venv/bin/python %h/video_collector/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
